.step-view {
    background-color: $lightblack;
    position: relative;
    top: 10vh;
    height: auto;
    .header-step {
        display: flex;
        flex-direction: column;
        color: $white;
        padding-left: 10%;
        padding-top: 40px;
        h3 {
            font-size: 70px;
            font-family: "Glacial Indifference", sans-serif;
            color: $aliz;
        }
    }
    .all-step {
        padding-top: 60px;
        display: flex;
        margin-bottom: 110px;
        h4 {
            font-family: "Glacial Indifference", sans-serif;

            font-size: 120px;
            color: $aliz;
            padding-left: 25px;
        }
        p {
            font-family: "Quicksand", sans-serif;
            font-weight: bold;
            color: $white;
            padding: 0 20px;
            font-size: 19px;
        }
        i{
            font-size: 13px;
            color: $lightgrey;
        }
    }
}

@media screen and (max-width: 1199.98px) {
    .step-view {
        top: 0;
        .all-step {
            flex-direction: column;
            div {
                margin-bottom: 50px;
            }
        }
    }
}

// @media screen and (min-width: 576px) and (max-width: 991.98px) {
//     .step-view {
//         top: 0;
//         .all-step {
//             flex-direction: column;
//             div{
//                 margin-bottom: 50px;
//             }
//         }
//     }
// }

// @media screen and (max-width: 575.98px) {
//     .step-view {
//         top: 0;
//         .all-step {
//             flex-direction: column;
//             div{
//                 margin-bottom: 50px;
//             }
//         }
//     }
// }
