$white: #ffffff;
$black: #000;
// PALETTE
$lightblack: #131313;
$dark: #212529;
$darkengrey: #343a40;
$darkgrey: #495057;
$grey: #6c757d;
$lightgrey: #adb5bd;
$lightergrey: #ced4da;
$smokygrey: #dee2e6;
$smokywhite: #e9ecef;
$whitesmoke: #f8f9fa;

$aliz: #5a8aff;
$green: #00c542;
$pink: #ff8080;
$purple: #b872d1;
$yellow: #f8c027;
$orange: #f8c027;
$blue: #2757f8;
$cleanPurple: #4f659f;
$red: #b40000;
$strongred: #f10000;

// @import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@font-face {
    font-family: 'Glacial Indifference';
    font-style: normal;
    // font-weight: 400;
    src: url('../fonts/GlacialIndifference-Bold.otf'); /* IE9 Compat Modes */
  }